:root{
    --margin: 20px;
    --padding: 50px;
    --height: 100px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.box-1 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(47, 47, 49);
    color: #ffffff;
}

.box-1 h1 {
    display: inline-block;
    font-size: 48px;
}

.box-1 nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.box-1 nav ul {
    list-style-type: none;
}

.box-1 nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

div section{
    margin: 10px;
    padding: 20px;
    width: 25%;
}

.under-box{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://wallpaperaccess.com/full/1128998.jpg);
    background-size: cover;
    background-position: center;
}

.box-2{
   display: flex;
   flex-direction: column;
   align-items: center;
}   

#css-snippet{
    margin-bottom: var(--margin);
    padding: var(--padding);
    height: var(--height);
    background-color: gray;
    color: white;
    margin-right: 50%;
}

#site-refactor{
    margin-bottom: var(--margin);
    padding: var(--padding);
    height: var(--height);
    background-color: gray;
    color: white;
    margin-left: 50%;
}

#my-first-website{
    margin-bottom: 20px;
    padding: 50px;
    height: 100px;
    background-color: gray;
    color: white;
    margin-right: 50%;
}

#about-me{
    margin-bottom: 20px;
    padding: 50px;
    height: 100px;
    background-color: gray;
    color: white;
    margin-left: 50%;
}